<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit in iste repellat voluptatum, minima tempore aliquid animi eum nesciunt aut? Nobis debitis commodi minus. Ullam, minus. Vero possimus nesciunt ullam?</p>

            <div class="alert alert-danger mt-3" *ngIf="isEmailError">
                 Email is alreay in use.
            </div>
            <div class="alert alert-info mt-3" *ngIf="isSubscribed">
                Thank you for subscribing to our news letter service. Stay tunned for Awesome Blogpost....!
           </div>
            
            <form  class="form-inline mb-5 mt-5" #subForm = ngForm (ngSubmit)='onSubmit(subForm.value)' *ngIf="! isSubscribed">
                
                <div class="from-input col-md-5 mt-2">
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Your Name"
                    name="name"
                    #Name='ngModel'
                    ngModel
                    required
                    [ngClass]="{'is-invalid':Name.touched && Name.invalid}"
                    >
                    <div class="alert alert-danger" *ngForm=" Name.touched && Name.invalid ">
                        <div *ngIf='Name.errors?.required'> Name is Required. </div>
                    </div>
                </div>
                <div class="from-input col-md-5 mt-2">
                    <input 
                    type="email" 
                    class="form-control" 
                    placeholder="Email Address"
                    name="email"
                    #Email='ngModel'
                    ngModel
                    required
                    email 
                    [ngClass]="{'is-invalid':Email.touched && Email.invalid}" 
                    >
                    <div class="alert alert-danger" *ngForm=" Email.touched && Email.invalid ">
                        <div *ngIf='Email.errors?.required'> Email is Required. </div>
                        <div *ngIf='Email.errors?.email'>Please Enter a Valid Email Address</div>
                    </div>
                </div>
                <div class="col-md-2 mt-2 text-center">
                    <button class=" btn btn-info btn-block btn-theme" [disabled]="subForm.invalid"> SUBSCRIBE </button>
                </div>
            
            </form>
       
        </div>
    </div>
</div>
