<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center"> Terms & Conditions </h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam magni, adipisci aut iste aspernatur sit assumenda aliquam quis dicta praesentium, quidem architecto ducimus sed quos animi. Unde, distinctio? Ratione, quidem! l
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quaerat porro delectus assumenda quasi reprehenderit consequatur. Distinctio, asperiores nisi perferendis natus maxime, enim, recusandae nulla dolores repellat molestiae vel corrupti!</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam magni, adipisci aut iste aspernatur sit assumenda aliquam quis dicta praesentium, quidem architecto ducimus sed quos animi. Unde, distinctio? Ratione, quidem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, repellendus? Cum dolorem soluta quis at excepturi voluptate praesentium asperiores illo quia nihil corrupti velit itaque, quisquam sit nesciunt quo tempora.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam magni, adipisci aut iste aspernatur sit assumenda aliquam quis dicta praesentium, quidem architecto ducimus sed quos animi. Unde, distinctio? Ratione, quidem! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem nobis ipsa maiores debitis, consequatur possimus saepe quibusdam reiciendis odio numquam sint provident nemo odit suscipit perspiciatis nam exercitationem autem eligendi?</p>
            
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme"> Back to Home</button>
            </div>

        </div>
    </div>
</section>
